body{
    margin:0;
    font-family: monospace;
    font: size 15px;
    background-color: #f0f8ff;
}
header{
    height: 100vh;
    background-color: #2196f3;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/544/710/original/black-abstract-background-vector-gray-abstract-modern-design-background-for-report-and-project-presentation-template-vector-illustration-graphic-dot-and-circular-shape-product-advertising-present.jpg);
    flex-wrap: wrap;
}
h1{
    font-size: 3rem;
    color:rgb(153, 46, 16);
}
header h1{
    margin:0;
    color:white;
    text-align: center;
}
.click{
    height: 30px;
    width: 80px;
    color:rgb(55, 214, 108);
    border:none;
    margin:0;
    border-style: none;
}
.click:hover{
    background-color: rgb(91, 60, 201);
}
p{
     color:black;
}
button{
    margin:10px;
    height: 40px;
    width: 140px;
    border-color: red;
    border-radius:20px;
    border-style: solid;
    cursor: pointer;
    align-items: center;
}

.button:hover{
    color: blue;
    background-color:rgb(211, 187, 187);
}
.photo{
    width: 350px;
    height: 220px;
}
.link{
     width:60px;
     height:60px;
     display: flex;
     padding-right: 30px;
}
.git{
     width:70px;
     height:70px; 
}
img{
    width: 200px;
    height: 200px;
}
section{
    height:100vh;
    border:1px solid grey;
    border-radius:20px;
    margin-bottom: 20px;
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
form div{
    padding: 5px;
}
.submit{
    height: 40px;
    width: 140px;
    border-color: red;
    border-radius:20px;
    border-style: solid;
    cursor: pointer;
    color:white;
    background-color:#2196f3;
}
.submit:hover{
    background-color: #0c66b0;
}

input{
    border-radius: 1px;
    border: 2px solid lightgrey;
    height: 15px;
}
input[type="email"]{
     height: 20px;
}
input[type="text"]{
     height: 20px;
}
.te{
     width: 300px;
}
.fixiedbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: none;
    border-color: red;
    border-radius: 50%;
    border-style: solid;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}
footer{
    height:200px;
    background-color: black;
    color:lightgrey;
}
.nam{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin: 10px;
     padding: 10px;
 }
footer .last {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin: 10px;
     padding: 10px;
 }
 .Gen{
     display: flex;
     align-items: center;
 }
 .Gen input[type="radio"]{
     width: 16px;
     height: 16px;
     margin-right:10px;
 }
 .Gen{
     font-size: 16px;
     color: #333;
 }
 .contact {
     display: flex;
     align-items: center;
 }
 
 .contact input[type="checkbox"] {
     margin-right: 10px;
     width: 16px;
     height: 16px;
 }
 
 .contact label {
     font-size: 16px;
     color: #333;
 }
 .nt{
     width: 325px;
 }